<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BeinSports.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>149FAEB029FFED7200A9C741</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>149FAEC929FFED7400A9C741</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>149FAED329FFED7400A9C741</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
